<div class="frame">
  <app-navbar></app-navbar>
  <!-- <img src="https://media.revistagq.com/photos/6266a08026711052931a9e24/master/pass/193-1939340_rick-and-morty-stills.png" alt=""> -->
  <img src="https://forum.craftersland.net/uploads/monthly_2017_10/rick-and-morty-top-banner-two-1.png.a82332698fcb055607e7475254feb2f3.png" alt="">
  <router-outlet></router-outlet>
  <div>
    <img src="https://occ-0-2794-2219.1.nflxso.net/dnm/api/v6/LmEnxtiAuzezXBjYXPuDgfZ4zZQ/AAAABVDCqfY6MmG6BJjO9v_vTUyJEW_KmdUSuXhTKq8iZHHibxHWJDNwkyzKh8SI3scwt57yuA0gyWtpk6Yb1WT7Jjl0Tj4HoszEEpxri5NNDRbr.png?r=d7f" alt="">
  </div>
</div>
